In [235]:
import pandas as pd
import numpy as np

from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [248]:
ama = pd.read_csv('./data/amazon.csv')
rt = pd.read_csv('./data/rotten_tomatoes.csv')

holdout = pd.read_csv('./data/holdout.csv')
test = pd.read_csv('./data/test.csv')
train = pd.read_csv('./data/train.csv')

In [256]:
train

      id1  id 2  gold
0       4  3668     0
1       7  1882     0
2       9  6068     0
3      16  2084     0
4      17    86     1
5      17   119     0
6      17  3391     0
7      25  4412     1
8      45    60     0
9      45  5424     0
10     55  1986     0
11     65  3128     0
12     65  3391     0
13     83  4052     0
14     97  1060     0
15     99  3215     1
16    102  6152     0
17    110  3549     1
18    125  1873     0
19    156  1452     0
20    166   205     0
21    166  2125     0
22    166  3268     1
23    166  5424     0
24    170  5516     0
25    172   150     0
26    172  5682     0
27    183  1614     0
28    183  1947     0
29    183  3268     0
..    ...   ...   ...
219  2430  2740     0
220  2430  2782     0
221  2438   481     0
222  2452  4081     0
223  2462  2446     0
224  2465  1560     0
225  2467    97     0
226  2467  2613     1
227  2470  2481     0
228  2493  5093     0
229  2510  5985     0
230  2518  2988     0
231  2543  2511     0
232  2547   938     0
233  2547  2821     0
234  2548  2687     0
235  2566  1372     0
236  2676  1535     0
237  2682   458     0
238  2682  2499     0
239  2682  2831     0
240  2682  6152     0
241  2714  4980     1
242  2722  3822     1
243  2723  5711     0
244  2753  1303     0
245  2753  6253     0
246  2788   445     0
247  2806  3748     0
248  2815  1142     0

[249 rows x 3 columns]

In [222]:
ama.head()
a = pd.DataFrame(ama[ama['id'] == 4])
ama.columns = [
    'id_left',
    'time_left',
    'director_left',
    'star_left',
    'cost_left'
]

In [221]:
b = pd.DataFrame(rt[rt['id'] == 3668])
rt.columns = [
    'id_right',
    'time_right',
    'director_right',
    'year_right',
    'star1_right',
    'star2_right',
    'star3_right',
    'star4_right',
    'star5_right',
    'star6_right',
    'rotten_tomatoes_right',
    'audience_rating_right',
    'review1_right',
    'review2_right',
    'review3_right',
    'review4_right',
    'review5_right'
]

In [225]:
new_data = pd.DataFrame(dtype=str)

In [227]:
# Merge records from ama and rt
for index, row in train.iterrows():
    amarow = ama[ama['id_left'] == row['id1']]
    rtrow = rt[rt['id_right'] == row['id 2']]
    gold = pd.DataFrame(data={'gold': [row['gold']]})
    
    amarow.reset_index(drop=True, inplace=True)
    rtrow.reset_index(drop=True, inplace=True)
    
    new_row = pd.concat([amarow, rtrow, gold], axis=1)
    new_data = pd.concat([new_data, new_row])

In [246]:
new_data['directors_same'] = (new_data['director_left'] == new_data['director_right']).astype(int)

actors_split = new_data['star_left'].str.split(',', expand=True)
actors_split_columns = ['star_' + str(i) for i in range(len(actors_split.columns))]
actors_split.columns = actors_split_columns
new_data = pd.concat([new_data, actors_split], axis=1)



new_data['same_actor_count'] = len()

SyntaxError: invalid syntax (<ipython-input-246-fd1337e4024c>, line 9)

In [ ]:
features = []

for i, row in train.iterrows():
    a = ama[ama['id_left'] == row['id1']]
    b = rtrow[rtrow['id_right'] == row['id 2']]
    features.append()

[ 1 for i, row in train.iterrows() if ama[ama['id_left'] == row['id1'] == rtrow[rtrow['id_right'] == row['id 2']] else 0 ]

In [234]:
clf = RandomForestClassifier()
x_train, x_test, y_train, y_test = train_test_split(new_data.ix[:, new_data.columns != 'gold'], new_data.iloc[:,-1])
clf.fit(x_train, y_train)
clf.score(x_test, y_test)

ValueError: could not convert string to float: Honor and shame are frequently announced concerns in the story, and the staginess recalls Mr. Fraser's experience as a theater director.